# Ignore everything by default
*

# Top-level exceptions
!.gitignore
!LICENSE
!install.sh
!config/
!etc/
!home/

# config/ tracked folders and files
!config/nvim/
!config/nvim/**
!config/nvim-qt/
!config/nvim-qt/**
!config/fish/
!config/fish/**
!config/yazi/
!config/yazi/**
!config/starship.toml
!config/konsolerc
!config/environment.d
!config/environment.d/**

# etc/ - all tracked
!etc/sysctl/
!etc/sysctl/**
!etc/tmpfiles/
!etc/tmpfiles/**
!etc/scx_loader/
!etc/scx_loader/**

# home/ - all tracked
!home/**
